@media (max-width: 1200px) {
    .header__top-links {
        display: none;
    }

    .blog__inner {
        display: block;

        .pagination {
            margin-bottom: 30px;
        }

        .blog__content {
            max-width: 100%;

            .blog__content-images {
                
                a {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .blog__aside {
            max-width: 100%;

            .blog__aside-item {
                width: 100%;
            }

            .blog__aside-banner {
                text-align: center;
            }
        }
    }

    .category__inner {
        display: block;
        padding: 40px 0 80px;

        .category__content {
            max-width: 100%;
        }

        .category__aside {
            max-width: 80%;
            margin: 0 auto;
        }

        .category__content-images {
            width: 100%;

            a {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .breadcrumbs__inner-category {
        width: auto;
        text-align: center;
    }

    .contact__item {
        flex-basis: 30%;
        padding: 50px 30px 40px;
    }

    .search__box-block {
        width: 96%;
    }

    .search__box-first {
        width: 92%;
    }

    .product-slider__item-content {
        display: block;
        margin-left: 30px;
    }

    .product-slider__inner {

        .slick-list.draggable {
            margin-left: -30px;
        }
    }

    .product-mixitup__inner-btn {
        text-align: center;

        button {
            margin-bottom: 10px;
        }
    }

    .folowers-slider__inner .slick-list.draggable {
        margin-left: 0;
        margin-right: 0;

        .slick-slide {
            width: 50%;

            .folowers-mixitup__item {
                max-width: 90%;
            }
        }
    }

    .rating__inner {
        justify-content: space-around;
    }

    .items__inner {

        .item {
            max-width: 100%;
            flex-basis: calc(33.333% - 15px);
        }
    }

    .reviews__inner {
        flex-wrap: wrap;
    }

    .reviews__item {
        width: 100%;
        flex-basis: calc(50% - 15px);
    }

    .news__inner {
        flex-wrap: wrap;
    }

    .news__item {
        max-width: 100%;
        flex-basis: calc(33.333% - 15px);
    }

    .news__item-images {

        a {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .pricing__inner {
        flex-wrap: wrap;
    }

    .pricing__item {
        max-width: 100%;
        flex-basis: calc(33.333% - 15px);
    }

    .singles__inner {
        display: block;
    }

    .singles-content {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .singles__box-images {
        width: 100%;
        max-height: 430px;
        height: auto;

        a {
            width: 100%;
            max-height: 430px;
            height: auto;
            background-color: #fff;

            img {
                width: 100%;
                max-height: 430px;
            }
        }
    }

    .tab-item__images {
        

        a {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .singles-aside {
        max-width: 100%;
    }

    .singles-aside__item {
        
    }

    .singles-aside__user-btn {
        justify-content: center;
    }

    .aside__btn-cart {

        &::before {
            display: none;
        }
    }

    .singles-aside__item-special,
    .singles-aside__item-user {
        max-width: 600px;
        width: 100%;
        margin: 0 auto 30px;
    }

    .singles {
        padding: 70px 0;
    }

    .more__inner {
        flex-wrap: wrap;
    }

    .more__item {
        max-width: 100%;
        flex-basis: calc(50% - 15px);
        margin-bottom: 30px;
    }

    .more__item-images {

        a {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1120px) {
    .news__item {
        flex-basis: calc(50% - 15px);
        margin-bottom: 20px;
    }
}

@media (max-width: 1090px) {

    .product-mixitup__item {
        flex-basis: calc(50% - 30px);
    }
}

@media (max-width: 1040px) {
    .footer__item-social {
        max-width: 80%;
    }

    .footer__item {
        margin-bottom: 30px;
    }

    .how-it-works__row {
        display: block;
        text-align: center;

        .how-it-works__box {
            margin: 0 auto;
        }

        .how-it-works__btn {
            margin: 20px auto 0;
        }
    }

    .advantages__items {
        display: block;

        .advantages__item {
            margin: 0 auto;
            max-width: 80%;
        }
    }

    .product-slider__item-content {
        max-width: 100%;

        .product-slider__images {
            max-width: 100%;
        }

        .product-slider__box {
            max-width: 100%;
        }
    }

    .items__inner {

        .item {
            flex-basis: calc(50% - 15px);
        }
    }
}

@media (max-width: 970px) {
    .menu__list {
        display: none;
        position: absolute;
        background-color: $bg;
        top: 80px;
        right: -15px;
        left: -15px;
        text-align: center;
        z-index: 1;

        a {
            display: block;
        }

        li {
            display: block;

            & + li {
                margin-left: 0;
                border-top: 1px solid #000;
            }
        }

        .header__drop-down.drop-down,
        .header__drop-down.drop-down__pages {
            height: 43px;
            line-height: 43px;

            .drop-down__list {
                display: none;
            }
        }
    }
    .menu__btn {
        display: block;
    }

    .header__top-inner {

        .default__link {
            display: none;
        }
    }

    .start__inner {
        flex-wrap: wrap;
    }

    .start__item {
        width: 100%;
        flex-basis: 100%;
    }

    .reviews__item {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .pricing__item {
        flex-basis: calc(50% - 15px);
        margin-bottom: 30px;
    }
}

@media (max-width: 890px) {
    .footer__item-social {
        max-width: 100%;
    }

    .category__content-item {
        flex-basis: calc(50% - 30px);
    }

    
    .search__title {
        font-size: 40px;
        line-height: 50px;
    }

    .search__suptitle {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 830px) {
    
    .contact__inner {
        flex-wrap: wrap;
    }
    .contact__item {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .contact__form-inner input {
        flex-basis: 100%;
    }

    .contact__form-inner {
        padding: 40px 20px 60px;
    }

    .favorites__content-item {
        flex-basis: calc(50% - 30px);
    }
}

@media (max-width: 790px) {

    .category__filter-btn,
    .favorites__filter-btn {
        display: none;
    }

    .category__inner {

        .category__aside {
            max-width: 100%;
        }
    }

    .search__form {
        height: auto;

        form {
            display: flex;
            flex-wrap: wrap;
        }
        
        .search__form-text {
            margin-bottom: 20px;
        }

        button {
            width: 100%;
        }
    }

    .folowers-slider__inner .slick-list.draggable {
        margin-left: 0;
        margin-right: 0;

        .slick-slide {
            width: 100%;

            .folowers-mixitup__item {
                max-width: 100%;
            }
        }
    }

    .folowers-mixitup__images {
        max-width: 100%;
    }

    .folowers-mixitup__box {
        max-width: 100%;
        text-align: center;
    }

    .folowers-mixitup__box-subtitle {
        justify-content: center;
    }

    .news__item {
        flex-basis: 100%;
    }

    .services__inner {
        display: block;
    }

    .services__item {
        margin: 0 auto 40px;
    }
}

@media (max-width: 740px) {
    
    .product-mixitup__inner-box {
        margin-left: 0;
    }

    .product-mixitup__item {
        flex-basis: 100%;
        margin-left: 0;
    }

    .product-mixitup__box {
        max-width: 100%;
    }

    .product-mixitup__images {
        max-width: 100%;
        
    }
}

@media (max-width: 720px) {

    .header__top-inner {

        .header__alert-inner,
        .header__message-inner {
            display: none;
        }
    }

    .header__user {
        margin-left: 15px;
    }

    .rating__inner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .rating__item {
        flex-basis: 50%;
        margin-bottom: 40px;
    }
    
    .rating__images {
        margin-bottom: 20px;
    }

    .more__item {
        flex-basis: 100%;
    }
}

@media (max-width: 700px) {

    .footer__item-links {
        max-width: 100%;
    }

    .footer__title {
        margin-bottom: 15px;
    }

    .category__filter-links {
        display: none;
    }

    .category__filter-row {
        justify-content: center;
    }

    .favorites__filter-title {
        display: none;
    }

    .singles__box-social {
        display: block;
        text-align: center;
    }

    .singles__box-link {
        margin-bottom: 20px;
    }

    .more {
        padding: 40px 0 50px;
    }
}

@media (max-width: 660px) {

    .header__basket-menu {
        right: auto;
        left: -44px;
    }

    .header__basket-menu::after {
        left: 50px;
        right: auto;
        top: -20px;
    }

    .search__box-block {
        width: 95%;
    }

    .search__box-first {
        width: 90%;
    }

    .product-slider,
    .product-mixitup,
    .news {
        padding: 60px 0;
    }

    .product-mixitup__inner-btn {
        margin-bottom: 20px;
    }

    .items__inner {

        .item {
            flex-basis: 100%;
        }
    }

    .pricing__item {
        flex-basis: 100%;
    }
}

@media (max-width: 620px) {
    .ready__title {
        font-size: 32px;
        line-height: 38px;
    }

    .ready__text {
        font-size: 16px;
    }

    .favorites__content-item {
        flex-basis: 100%;
        max-width: 100%;
    }

    .search__title,
    .search__suptitle {
        font-size: 30px;
        line-height: 36px;
    }

    .search__text {
        font-size: 16px;
    }

    .product-slider .slick-arrow {
        display: none !important;
    }

    .product-slider__title,
    .product-mixitup__title,
    .folowers-slider__title {
        font-size: 24px;
        text-align: center;
    }

    .product-slider__images {
        min-height: 300px;
        height: 100%;
    }

    .product-mixitup,
    .folowers-slider {
        padding: 60px 0;
    }

    .login__form-box {
        display: block;
        text-align: center;
    }

    .login__form-subtext {
        margin-bottom: 10px;
    }

    .singles-content__tabs .tabs {
        flex-wrap: wrap;
    }

    .singles-content__tabs .tabs .tab.active {
        border-bottom: 1px solid #e8e8e8;
        border-top: 3px solid #0674ec;
        color: #0674ec;
    }
}

@media (max-width: 580px) {

    .header__btn-menu {
        display: block;
        font-family: 'Linearicons-Free';
        width: 75px;
        height: 70px;
        background-color: $text;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            font-size: 36px;
        }
    }

    .header__top-box {
        transition: all .5s;
        position: absolute;
        left: 100%;
        right: -100%;
        background-color: $bg;
        height: 70px;

        &.active {
            z-index: 2;
            left: 50px;
            right: 50px;
        }
    }

    .header__logo {
        margin-left: 60px;
    }

    .menu__btn {
        position: absolute;
        top: -48px;

        div {
            background-color: $text;
        }
    }

    .menu__list {
        top: 0;
        z-index: 1;
    }

    .menu__list {

        li {
            border-top: 1px solid #000;
        }
    }

    .header__top-inner {
        height: 70px;
    }

    .category__content-item {
        flex-basis: 100%;
    }

    .how-it-works__images {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .how-it-works__title {
        margin-bottom: 20px;
    }

    .how-it-works__row {
        padding: 55px 0 60px;
    }

    .jq-selectbox.jqselect {
        display: none;
    }

    .search__form-text input {
        padding: 0 25px;
    }

    .folowers-slider__inner .slick-arrow {
        display: none !important;
    }
}

@media (max-width: 520px) {

    .blog__content-rating {
        flex-wrap: wrap;
        justify-content: space-between;

        .blog__content-user,
        .blog__content-date,
        .blog__content-reviews,
        .blog__content-lihat {
            margin-left: 0;
            flex-basis: 45%;
            margin-bottom: 10px;
        }
    }

    .blog__content-images {
        height: auto;

        a {
            height: auto;

            img {
                height: auto;
            }
        }
    }

    .blog__content-title {
        font-size: 26px;
    }

    .blog__content-text {
        font-size: 15px;
    }

    .blog__content-top {
        padding-bottom: 0;
    }

    .category__filter-row {
        flex-wrap: wrap;
    }

    .category__filter-form,
    .favorites__filter-form {
        width: 100%;

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            label {
                margin-left: 0;
                margin-bottom: 20px;
                width: 45%;
            }
        }
    }

    .search__box-block {
        width: 94%;
    }

    .search__box-first {
        width: 88%;
    }

    .advantages__items {

        .advantages__item {
            max-width: 100%;
            padding: 30px 10px;
        }
    }

    .advantages {
        padding: 156px 0 60px;
    }

    .product-slider__box-links {
        padding-bottom: 10px;
    }

    .product-mixitup__inner-btn {
        padding: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .start__item-images {
        margin: 60px 0 25px;
    }

    .services {
        padding: 60px 0 30px;
    }

    .singles-content__tabs .tab-item {
        padding: 40px 10px 20px;
    }
}

@media (max-width: 480px) {

    .header__user-info {
        display: none;
    }

    .header__user-images {
        margin-right: 0;
    }

    .header__user .header__user-menu {
        right: auto;
        left: -72px;

        &::after {
            right: auto;
            left: 85px;
        }
    }

    .error-404__images {

        img {
            width: 90%;
        }
    }

    .pagination__list {

        .special-one {
            display: none;
        }
    }

    .blog__aside-banner {
        width: 100%;

        a {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .conditions__title {
        padding: 35px 20px 25px 30px;
        font-size: 22px;
        text-align: center;
    }

    .conditions__text {
        padding: 25px 20px 25px 30px;
        font-size: 15px;
    }

    .contact__form-inner input {
        padding: 0 20px;
    }

    .contact__form-inner textarea {
        padding: 20px;
    }

    .breadcrumbs__how-it-works {

        .breadcrumbs__title {
            font-size: 24px;
        }
    }

    .search__form {
        padding: 30px 15px;
    }

    .search__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            flex-basis: 80%;

            & + a {
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }

    .search {
        padding: 100px 0 150px;

        .search__box {
            bottom: -30px;
        }
    }

    .product-slider__box {
        padding: 30px 20px 25px;
    }

    .items__title {
        line-height: 40px;
    }

    .items {
        padding: 60px 0 40px;
    }

    .reviews__item {
        padding: 50px 20px 40px;
    }

    .reviews__item {
        
        &::before {
            display: none;
        }
    }

    .login__form {

        form {
            padding: 25px 20px 55px;

            button {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .pricing {
        padding: 60px 0 ;
    }

    .recover-password__form,
    .register__form {

        form {
            padding: 25px 20px 55px;

            input {
                padding: 0 15px;
            }

            button {
                margin: 0 auto;
            }
        }
    }

    .recover-password {
        padding: 40px 0 50px;
    }

    .recover-password__form-top,
    .register__form-top {
        padding-left: 20px;
        padding-right: 20px;
    }

    .register__form {

        form {

            button {
                margin-bottom: 30px;
            }
        }
    }

    .singles__box-inner {
        padding: 30px 15px 40px;
    }

    .singles__box-btn {
        display: block;
        text-align: center;

        .singles__btn-favorite {
            margin-left: 0;
            margin-top: 15px;
        }
    }
}

@media (max-width: 440px) {
    .category__filter-form,
    .favorites__filter-form {
    
        form {
            label {
                width: 100%;
                text-align: center;
            }
        }
    }

    .product-slider__title {
        padding: 30px 20px;
        text-align: center;
    }

    .product-slider__box-text {
        display: none;
    }

    .reviews__title {
        line-height: 40px;
    }

    .reviews {
        padding: 60px 0;
    }

    .reviews__inner {
        margin-bottom: 30px;
    }

    .singles__box-social {
        
        .singles__box-list li + li {
            margin-left: 5px;
        }
    }

    .aside__btn-cart {

        &::before {
            display: block;
        }
    }
}

@media (max-width: 420px) {
    .header__basket-menu {
        width: 290px;
    }

    .basket-menu__name {
        font-size: 16px;
        line-height: 18px;
    }

    .blog__content-top {
        padding: 10px;
    }

    .blog__content-bottom {
        padding: 10px;
    }

    .pagination__list {

        .special-two {
            display: none;
        }
    }

    .product-slider__images {
        min-height: 250px;
    }

    .product-slider__box-rating {
        flex-wrap: wrap;
        justify-content: space-between;

        .product-slider__price,
        .product-slider__heart,
        .product-slider__basket,
        .rate-star {
            flex-basis: 40%;
            margin-bottom: 10px;
            margin-left: 0;
        }
    }

    .product-slider__box-links  {
        text-align: center;

        a {
            margin-bottom: 10px;
        }
    }

    .product-slider__box-title {
        text-align: center;
        font-size: 22px;
    }

    .product-slider__box-subtitle {
        justify-content: center;
    }

    .item {
        padding: 55px 20px;
        padding-bottom: 30px;
    }

    .item__images {
        margin-bottom: 20px;
    }

    .singles__box-social {

        .singles__box-list {
            margin-left: 0;
    
            li {
    
                a {
    
                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
}

@media (max-width: 390px) {
    .footer__item {
        max-width: 100%;
    }

    .footer__social a + a {
        margin-left: 5px;
    }

    .footer__social {

        img {
            width: 37px;
            height: 37px;
        }
    }

    .header__user {
        margin-left: 0;
    }  

    .blog__aside-content {
        padding: 20px 15px 30px;
    }

    .search__box-block {
        width: 90%;
    }

    .search__box-first {
        width: 80%;
    }

    .search__form-text input {
        padding: 0 15px;
    }

    .folowers-mixitup__box-rating {
        padding: 0 15px;

        .folowers-mixitup__price,
        .folowers-mixitup__heart,
        .folowers-mixitup__basket,
        .rate-star  {
            margin-right: 5px;
        }
    }

    .folowers-mixitup__box-title,
    .folowers-mixitup__box-subtitle,
    .folowers-mixitup__box-text {
        padding: 0 15px;
    }

    .rating__item {
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    .rating {
        padding: 40px 0;
    }

    .singles-aside__btn {

        .aside__btn-cart::before {
            left: 65px;
        }
    }

    .singles-aside__item {
        padding-left: 20px;
        padding-right: 20px;
    }

    .aside__item-cart-inner {
        padding: 30px 20px 40px;
    }

    .aside__item-cart {
        padding-left: 0;
        padding-right: 0;
    }   

    .singles-aside__block-left {
        min-width: 105px;
        margin-right: 10px;
    }

    .singles-aside__user-btn {
        flex-wrap: wrap;

        a {
            flex-basis: 100%;
        }

        .aside__user-btn-message {
            margin-left: 0;
            margin-top: 15px;
        }
    }

    .more__item-content,
    .more__item-rating {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 370px) {

    .header__top-box {

        .header__basket-inner {
            padding-right: 15px;
            padding-left: 5px;
        }
    }

    .header__logo {
        margin-left: 50px;

        img {
            width: 155px;
        }
    }

    .header__btn-logout {
        margin-left: 10px;
    }

    .blog__aside__tabs {

        .tabs {
            padding: 20px 10px;

            .tab {
                font-size: 18px;
            }
        }

        .tab-item {
            padding: 0 10px 20px;

            .tab-item__text {
                font-size: 15px;
            }

            .tab-item__date {
                font-size: 13px;
            }
        }
    }

    .contact__form-title {
        padding: 35px 15px 20px;
    }

    .product-mixitup__images-hover a {
        padding: 16px 20px;
    }

    .folowers-mixitup__images-hover a {
        padding: 16px 20px;
    }

    .product-mixitup__box {

        .product-mixitup__box-title,
        .product-mixitup__box-subtitle,
        .product-mixitup__box-text,
        .product-mixitup__box-rating {
            padding-left: 15px;
            padding-right: 15px;
        }

        .product-mixitup__box-title {
            text-align: center;
        }
    }

    .news__item-content,
    .news__item-rating {
        padding-left: 20px;
        padding-right: 20px;
    }

    .news__item-rating {

        .news__item-reviews {
            margin-right: 15px;
            margin-left: auto;
        }
    }

    .pricing__inner {

        .pricing__item {
            padding: 0 20px 30px;
        }
    }
}

@media (max-width: 340px) {
    .pagination__list {

        .special-three {
            display: none;
        }
    }
    
    .product-slider__box-rating {
        display: block;

        .product-slider__price,
        .product-slider__heart,
        .product-slider__basket,
        .rate-star {
            width: 50%;
        }

        .product-slider__price {
        }
    }

    .product-mixitup__box-rating {
        padding-left: 2px;
        padding-right: 2px;

        .product-mixitup__price,
        .product-mixitup__heart {
            margin-right: 5px;
        }
    }

    .reviews__item {
        padding: 50px 10px 40px;
    }

    .singles-aside__btn {

        .aside__btn-cart::before {
            left: 55px;
        }
    }

    .more__item-content,
    .more__item-rating {
        padding-left: 10px;
        padding-right: 10px;
    }

    .more__item-like {
        margin: 0 8px;
    }
}




@media (min-width: 971px) {
    .menu__list {
        display: block !important;
    }
}