@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top {
    background-color: $bg;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.default__link {
    margin-left: auto;
    margin-right: 50px;
    background-color: $btn;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    padding: 4px 18px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.header__btn {
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
}

.header__btn-login {
    background-color: $green;
}

.header__btn-register {
    background-color: $red;
    margin-left: 7px;
}

.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu__list {

    li {
        display: inline-block;

        & + li {
            margin-left: 34px;
        }
    }

    a {
        font-size: 15px;
        line-height: 42px;
        color: #333333;
        font-weight: 500;
        transition: all .3s;

        &:hover {
            transform: scale(1.2);
        }
    }

}

.header__form {
    position: relative;
    max-width: 360px;
    width: 100%;

    input {
        width: 100%;
        border-radius: 25px;
        outline: none;
        border: 1px solid #d9dfe5;
        height: 46px;
        padding-left: 25px;
        padding-right: 82px;
        font-size: 15px;
        line-height: 30px;

        &::placeholder {
            color: #898f96;
        }
    }

    button {
        position: absolute;
        right: 0;
        border-radius: 25px;
        outline: none;
        height: 46px;
        border: none;
        width: 70px;
        background-color: $btn;
        cursor: pointer;
    }
}

// end header

// start search

.search {
    padding: 170px 0 230px;
    background-color: $blue;
    color: #ffffff;
    text-align: center;

    &__inner {
        position: relative;
    }

    &__suptitle {
        font-size: 60px;
        line-height: 70px;
    }

    &__title {
        font-size: 60px;
        line-height: 70px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    &__text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 65px;
    }

    &__links {

        a {
            font-size: 16px;
            color: #ffffff;
            padding: 20px 30px;
            border: 1px solid #ffffff;
            border-radius: 40px;

            &:hover {
                background-color: #fff;
                color: $blue;
            }
        }

        a + a {
            margin-left: 30px;
        }
    }

    &__box {
        position: absolute;
        max-width: 1140px;
        width: 100%;
        bottom: -135px;

        &-block {
            height: 135px;
            background-color: #fff;
            opacity: 0.5;
            max-width: 1080px;
            width: 100%;
            border-radius: 6px;
            position: absolute;
            top: 0;
            left: 30px;

            &-second {
                max-width: 1110px;
                width: 100%;
                top: 13px;
                left: 15px;
            }
        }
    }

    &__form {
        top: 26px;
        width: 100%;
        background-color: #fff;
        height: 135px;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        position: absolute;
        padding: 40px;

        form {
            display: flex;
            justify-content: space-between;
        }

        &-text {
            max-width: 808px;
            width: 100%;
            position: relative;

            input {
                width: 100%;
                outline: none;
                border: 1px solid #dcdcdc;
                height: 55px;
                border-radius: 5px;
                padding-left: 28px;
                padding-right: 195px;

                &::placeholder {
                    color: #676767;
                }
            }

            .jq-selectbox {
                vertical-align: middle;
                cursor: pointer;
            }
            .jq-selectbox__select {
                height: 32px;
                padding: 0 45px 0 10px;
                border: 1px solid #CCC;
                border-bottom-color: #B3B3B3;
                border-radius: 4px;
                background: linear-gradient(#FFF, #E6E6E6);
                box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
                font: 14px/32px Arial, sans-serif;
                color: #333;
                text-shadow: 1px 1px #FFF;
            }
            .jq-selectbox__select:hover {
                background: linear-gradient(#F6F6F6, #E6E6E6);
            }
            .jq-selectbox__select:active {
                background: #F5F5F5;
                box-shadow: inset 1px 1px 3px #DDD;
            }
            .jq-selectbox.focused .jq-selectbox__select {
                border: 1px solid #5794BF;
            }
            .jq-selectbox.disabled .jq-selectbox__select {
                border-color: #CCC;
                background: #F5F5F5;
                box-shadow: none;
                color: #888;
            }
            .jq-selectbox__select-text {
                display: block;
                width: 100%;
            }
            .jq-selectbox .placeholder {
                color: #888;
            }
            .jq-selectbox__trigger {
                position: absolute;
                top: 0;
                right: 0;
                width: 34px;
                height: 100%;
                border-left: 1px solid #CCC;
            }
            .jq-selectbox__trigger-arrow {
                position: absolute;
                top: 14px;
                right: 12px;
                width: 0;
                height: 0;
                border-top: 5px solid #999;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
            }
            .jq-selectbox:hover .jq-selectbox__trigger-arrow {
                border-top-color: #000;
            }
            .jq-selectbox.disabled .jq-selectbox__trigger-arrow {
                border-top-color: #AAA;
            }
            .jq-selectbox__dropdown {
                box-sizing: border-box;
                width: 100%;
                margin: 2px 0 0;
                padding: 0;
                border: 1px solid #CCC;
                border-radius: 4px;
                background: #FFF;
                box-shadow: 0 2px 10px rgba(0,0,0,.2);
                font: 14px/18px Arial, sans-serif;
            }

            .jq-selectbox__search {
                margin: 5px;
            }
            .jq-selectbox__search input {
                box-sizing: border-box;
                width: 100%;
                margin: 0;
                padding: 5px 27px 6px 8px;
                border: 1px solid #CCC;
                border-radius: 3px;
                outline: none;
                background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat 100% 50%;
                box-shadow: inset 1px 1px #F1F1F1;
                color: #333;
            }
            .jq-selectbox__not-found {
                margin: 5px;
                padding: 5px 8px 6px;
                background: #F0F0F0;
                font-size: 13px;
            }
            .jq-selectbox ul {
                margin: 0;
                padding: 0;
            }
            .jq-selectbox li {
                min-height: 18px;
                padding: 5px 10px 6px;
                color: #231F20;
            }
            .jq-selectbox li.selected {
                background-color: #A3ABB1;
                color: #FFF;
            }
            .jq-selectbox li:hover {
                background-color: #08C;
                color: #FFF;
            }
            .jq-selectbox li.disabled {
                color: #AAA;
            }
            .jq-selectbox li.disabled:hover {
                background: none;
            }
            .jq-selectbox li.optgroup {
                font-weight: bold;
            }
            .jq-selectbox li.optgroup:hover {
                background: none;
                color: #231F20;
                cursor: default;
            }
            .jq-selectbox li.option {
                padding-left: 25px;
            }
            .jq-select-multiple {
                box-sizing: border-box;
                padding: 1px;
                border: 1px solid #CCC;
                border-bottom-color: #B3B3B3;
                border-radius: 4px;
                background: #FFF;
                box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0,0,0,.1);
                font: 14px/18px Arial, sans-serif;
                color: #333;
                cursor: default;
            }
            .jq-select-multiple.focused {
                border: 1px solid #5794BF;
            }
            .jq-select-multiple.disabled {
                border-color: #CCC;
                background: #F5F5F5;
                box-shadow: none;
                color: #888;
            }
            .jq-select-multiple ul {
                margin: 0;
                padding: 0;
            }
            .jq-select-multiple li {
                padding: 3px 9px 4px;
                list-style: none;
            }
            .jq-select-multiple li:first-child {
                border-radius: 3px 3px 0 0;
            }
            .jq-select-multiple li:last-child {
                border-radius: 0 0 3px 3px;
            }
            .jq-select-multiple li.selected {
                background: #08C;
                color: #FFF;
            }
            .jq-select-multiple li.disabled {
                color: #AAA;
            }
            .jq-select-multiple li.optgroup {
                font-weight: bold;
            }
            .jq-select-multiple li.option {
                padding-left: 25px;
            }
            .jq-select-multiple.disabled li.selected,
            .jq-select-multiple li.selected.disabled {
                background: #CCC;
                color: #FFF;
            }

            .jq-selectbox.jqselect {
                position: absolute;
                max-width: 180px;
                width: 100%;
                height: 55px;
                right: 0;
                border: none;
                background-color: transparent;
                outline: none;
                color: #555555;

                .jq-selectbox__trigger-arrow {
                    display: none;
                }

                .jq-selectbox__trigger {
                    position: relative; 
                    border-left: none;

                    &::before {
                        position: absolute;
                        content: "\e874";
                        font-family: 'Linearicons-Free';
                        top: 50%;
                        left: 38px;
                        transform: translateY(-50%);
                        color: #676767;
                    }
                }

                .jq-selectbox__select {
                    height: 55px;
                    border: none;
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                }

                .jq-selectbox__select {
                    background: none;
                    border: none;
                    box-shadow: none;
                }

                
            }
        }

        button {
            color: #ffffff;
            background-color: $btn;
            border: none;
            border-radius: 5px;
            width: 222px;
            cursor: pointer;
            height: 55px;
        }
    }
}

// end search

// start advantages

.advantages {
    padding: 186px 0 120px;

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        text-align: center;
        max-width: 360px;
        width: 100%;
        padding: 40px 32px;
        border-radius: 4px;

        &:hover {
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }

        &-title {
            font-size: 24px;
            color: #010101;
            margin: 28px 0;
        }

        &-text {
            line-height: 30px;
        }
    }
}

// end advantages
  
// start product-slider

.product-slider,
.folowers-slider {
    padding: 120px 0;
    background-color: $bg;
    position: relative;

    &__item-content {
        display: flex;
        background-color: #fff;
    }

    .slick-arrow {
        font-size: 0;
        border: none;
        background-color: $purple;
        height: 45px;
        width: 55px;
        position: absolute;
        background-image: url(../images/icons/chevron-left.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto;
        z-index: 2;
        border-radius: 35px;
        cursor: pointer;
        outline: none;
        top: -125px;
        right: 30px;
    }

    .slick-next {
        background-image: url(../images/icons/chevron-right.png);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .slick-prev {
        right: 85px;
        padding-right: 30px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.product-slider__images,
.product-mixitup__images,
.folowers-mixitup__images {
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 555px;
    width: 100%;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.product-slider__box,
.product-mixitup__box,
.folowers-mixitup__box{
    max-width: 585px;
    width: 100%;
    padding: 50px 50px 25px;

    &-title {
        font-size: 24px;
        font-weight: 500;
        color: #000;
        margin-bottom: 15px;
    }

    &-subtitle {
        display: flex;
        margin-bottom: 30px;
    }

    &-text {
        margin-bottom: 35px;
    }

    &-links {
        padding-bottom: 45px;
        border-bottom: 1px solid #ececec;
        margin-bottom: 20px;
        
        a {
            background-color: #f1f3f6;
            font-size: 15px;
            color: #868c96;
            border-radius: 15px;
            padding: 0 16px;
            transition: all .3s;
            outline: none;

            & + a {
                margin-left: 7px;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.product-slider__author,
.product-mixitup__author,
.folowers-mixitup__author {
    font-size: 15px;
    line-height: 30px;
    margin-right: 20px;
    display: flex;
    color: #000;

    .avatar {
        width: 30px;
        height: 30px;
        margin-right: 9px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.product-slider__wordpress,
.product-mixitup__wordpress,
.folowers-mixitup__wordpress {
    font-size: 15px;
    line-height: 30px;
    color: $purple;
    padding-left: 25px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/icons/wordpress.png);
        width: 16px;
        height: 16px;
        left: 0;
        top: 7px;
    }
}

.product-slider__box-rating,
.product-mixitup__box-rating,
.folowers-mixitup__box-rating {
    display: flex;

    .rate-star {
        margin-left: auto;
        display: flex;
        align-items: center;
        cursor: pointer;

        &.jq-ry-container {
            padding: 0;
        }
    }
}

.product-slider__price,
.product-mixitup__price,
.folowers-mixitup__price {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    background-color: $btn;
    border-radius: 15px;
    padding: 1px 18px;
    margin-right: 20px;
}

.product-slider__heart,
.product-mixitup__heart,
.folowers-mixitup__heart {
    font-size: 15px;
    position: relative;
    padding-left: 25px;
    margin-right: 20px;
    cursor: pointer;

    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/icons/heart.png);
        left: 0;
        width: 16px;
        height: 14px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.product-slider__basket,
.product-mixitup__basket,
.folowers-mixitup__basket {
    font-size: 15px;
    color: $btn;
    padding-left: 23px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/icons/cart.png);
        width: 14px;
        height: 14px;
        left: 0;
        top: 8px;
    }
}

// end product-slider

// start product-mixitup

.product-mixitup {
    padding: 120px 0;
    background-color: #f6f7fb;

    &__title {
        margin-bottom: 30px;
    }
}

.product-mixitup__inner-btn {
    padding: 30px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 50px;

    button {
        background-color: #f1f3f6;
        font-size: 15px;
        color: #868c96;
        border-radius: 15px;
        padding: 10px 16px;
        transition: all .3s;
        outline: none;
        border: none;
        cursor: pointer;

            & + button {
                margin-left: 10px;
            }

            &:hover {
                background-color: $btn;
                color: #ffffff;
            }
    }
}

.product-mixitup__inner-box {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-mixitup__item,
.folowers-mixitup__item{
    max-width: 360px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;

    &:hover {
        .product-mixitup__images-hover,
        .folowers-mixitup__images-hover {
            display: flex;
            transition: all .5s;
        }
    }
}

.product-mixitup__images,
.folowers-mixitup__images {
    width: 100%;
    min-height: 230px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
}

.product-mixitup__box,
.folowers-mixitup__box {
    padding: 30px 0 15px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &-title {
        padding: 0 30px;
        font-size: 20px;
        font-weight: 500;
    }

    &-subtitle {
        padding: 0 30px;
    }

    &-text {
        padding: 0 30px;
        margin-bottom: 15px;
        padding-bottom: 25px;
        border-bottom: 1px solid #ececec;
    }

    &-rating {
        padding: 0 30px;
    }

    .rate-star {
        margin-left: 0;
    }
}

.product-mixitup__price,
.folowers-mixitup__price {
    color: $btn;
    background-color: #e6f1fd;
}

.product-mixitup__basket,
.folowers-mixitup__basket {
    margin-left: auto;
}

.product-mixitup__images-hover,
.folowers-mixitup__images-hover {
    opacity: 0.902;
    width: 100%;
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;

    a {
        font-size: 15px;
        font-weight: 500;
        color: #ffffff;
        margin: 0 10px;
        padding: 16px 30px;
        border: 1px solid #ffffff;
        border-radius: 30px;

        &:hover {
            background-color: #fff;
            color: $btn;
        }
    }
}
  
.product-mixitup__bottom-btn {
    text-align: center;

    .default__link {
        border: none;
        padding: 13px 34px;
        border-radius: 30px;
        margin: 0;
        outline: none;
        cursor: pointer;
    }
}

// end product-mixitup

// start folowers-slider

.folowers-slider__inner {

    .slick-arrow {
        background-color: $btn;
    }

    .slick-slide {
        text-align: center;
    }

    .slick-list.draggable {
        margin-left: -15px;
        margin-right: -15px;
    }
}

// end folowers-slider

// start rating 

.rating {
    background-color: #212225;
    padding: 90px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        text-align: center;
    }

    &__images {
        height: 55px;
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__number {
        font-size: 36px;
        color: #feb71d;
        margin-bottom: 10px;

        &-download {
            color: #58c9e9;
        }

        &-smile {
            color: $green;
        }   

        &-social {
            color: #ff6a6d;
        }
    }

    &__text {
        font-size: 18px;
        color: #ffffff;
    }
}

// end rating 

// start items

.items {
    padding: 110px 0 80px;

    &__title {
        font-size: 36px;
        color: #000;
        text-align: center;
        margin-bottom: 20px;

        span {
            color: $btn;
        }
    }

    &__text {
        max-width: 680px;
        width: 100%;
        text-align: center;
        margin: 0 auto 50px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.item {
    position: relative;
    max-width: 360px;
    width: 100%;
    padding: 55px 35px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;

    &::before {
        position: absolute;
        content: "01";
        font-weight: 300;
        font-size: 48px;
        color: rgba($color: #5c87f8, $alpha: 0.88);
        left: 20px;
        top: 20px;
    }

    &-quality {
        &::before {
            content: "02";
        }
    }

    &-secure {
        &::before {
            content: "03";
        }
    }

    &-code {
        &::before {
            content: "04";
        }
    }

    &-life {
        &::before {
            content: "05";
        }
    }

    &-fast {
        &::before {
            content: "06";
        }
    }

    &__images {
        height: 65px;
        margin-bottom: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-size: 24px;
        color: #000;
        margin-bottom: 20px;
    }
}

.BG {
    
    position: absolute;
    left: 780px;
    top: 6163px;
    width: 361px;
    height: 373px;
    z-index: 254;
  }
  
// end items

// start start

.start__inner {
    display: flex;
}

.start__item {
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 560px;
    text-align: center;
    color: #ffffff;

    &-images {
        margin: 100px 0 45px;
    }

    &-title {
        font-size: 36px;
        margin-bottom: 25px;
    }

    &-text {
        max-width: 584px;
        width: 100%;
        margin: 0 auto 40px;
    }

    &-btn {
        background-color: #fff;
        border-radius: 40px;
        color: $btn;
        padding: 21px 26px;

        &-purple {
            color: $purple;
        }
    }
}

// end start

// start reviews

.reviews {
    padding: 110px 0;

    &__title {
        font-size: 36px;
        color: #000;
        text-align: center;
        margin-bottom: 20px;

        span {
            color: $btn;
        }
    }

    &__text {
        max-width: 680px;
        width: 100%;
        text-align: center;
        margin: 0 auto 50px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__item {
        max-width: 555px;
        width: 100%;
        border-radius: 4px;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        padding: 50px 40px 40px;
        border-left: 2px solid $btn;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background-image: url(../images/icons/reviews-icon.png);
            width: 57px;
            height: 51px;
            top: 50px;
            right: 40px;
        }
    }

    &__author {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &-name {
            font-size: 20px;
            color: #000;
            margin-left: 18px;

            span {
                display: block;
                font-size: 16px;
                color: $text;
            }
        }
    }
}

.reviews__links {
    text-align: center;
}

.reviews__btn {
    padding: 13px 34px;
    border-radius: 30px;
}

// end reviews

// start news

.news {
    background-color: #eff1f5;
    padding: 120px 0;

    &__title {
        font-size: 36px;
        color: #000;
        text-align: center;
        margin-bottom: 25px;

        span {
            color: $btn;
        }
    }

    &__text {
        text-align: center;
        max-width: 680px;
        margin: 0 auto 50px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 360px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);

        &-content {
            padding: 25px 38px 20px 30px;
            border-bottom: 1px solid #ececec;
        }

        &-title {
            font-size: 22px;
            font-weight: 500;
            color: #000;
            margin-bottom: 30px;
        }

        &-rating {
            padding: 20px 40px 20px 30px;
            display: flex;
            justify-content: space-between;
            font-size: 15px;
            color: #999999;

            .news__item-date {
                padding-left: 24px;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    background-image: url(../images/icons/clock.png);
                    width: 16px;
                    height: 15px;
                    left: 0;
                    top: 7px;
                }
            }

            .news__item-reviews {
                padding-left: 23px;
                position: relative;
                margin-left: auto;
                margin-right: 30px;
                color: #999999;

                &::before {
                    position: absolute;
                    content: "";
                    background-image: url(../images/icons/bubble.png);
                    width: 16px;
                    height: 14px;
                    left: 0;
                    top: 8px;
                }
            }

            .news__item-see {
                padding-left: 22px;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    background-image: url(../images/icons/eye.png);
                    width: 17px;
                    height: 9px;
                    left: 0;
                    top: 10px;
                }
            }
        }
    }
}

// end news

// start services

.services {
    padding: 60px 0 55px;

    &__inner {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        max-width: 360px;
        width: 100%;
        text-align: center;
    }
}

.services__item-text {
    font-size: 24px;
    color: #000;
    margin-top: 20px;

    span {
        color: $btn;
    }

    .services__text-purple {
        color: $purple;
    }
}

// end services

// start ready

.ready {
    padding: 110px 0;
    background-image: url(../images/content/ready-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 400px;

    &__item {
        max-width: 555px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

.ready__title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 25px;
}

.ready__text {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 50px;
}

.ready__btn {
    font-size: 16px;
    color: $btn;
    padding: 20px;
    width: 190px;
    border-radius: 40px;
    background-color: #fff;
    font-weight: 500;
}

// end ready

// start footer

.footer__content {
    background-color: #262b30;
    padding: 110px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    max-width: 140px;
    width: 100%;
}

.footer__item-links {
    max-width: 264px;
    width: 100%;
}

.footer__item-social {
    max-width: 360px;
    width: 100%;
}

.footer__logo {
    margin: -6px 0 20px;
}

.footer__text {
    font-size: 15px;
    line-height: 28px;
    color: #ababab;
    margin-bottom: 25px;
}

.footer__links {

    li {
        margin-bottom: 10px;
    }

    a {
        font-size: 15px;
        line-height: 26px;
        color: #ababab;
        position: relative;
        padding-left: 28px;

        &::before {
            position: absolute;
            content: "";
            background-image: url(../images/icons/phone-handset.png);
            width: 18px;
            height: 17px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .footer__email::before {
        background-image: url(../images/icons/envelope-footer.png);
        width: 17px;
        height: 11px;
    }

    .footer__adress::before {
        background-image: url(../images/icons/map-marker.png);
        width: 10px;
        height: 17px;
    }
}

.footer__title {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
}

.footer__list {

    a {
        font-size: 15px;
        line-height: 32px;
        color: #ababab;
    }
}

.footer__form {
    width: 100%;
    margin-bottom: 48px;

    form {
        width: 100%;
        position: relative;

        input {
            width: 100%;
            outline: none;
            height: 50px;
            border-radius: 40px;
            border: none;
            padding-left: 30px;
            padding-right: 120px;
            font-size: 15px;
            color: #000;

            &::placeholder {
                color: #ababab;
            }
        }

        button {
            position: absolute;
            right: 0;
            outline: none;
            height: 50px;
            border-radius: 40px;
            border: none;
            width: 110px;
            background-color: $btn;
            color: #ffffff;
            font-size: 15px;
            cursor: pointer;
        }
    }
}

.footer__social {

    a {

        & + a {
            margin-left: 13px;
        }
    }
}

.footer__copy {
    background-color: #192027;
    height: 94px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-text {
        color: #999999;
        font-size: 15px;

        span,
        a {
            color: #ffffff;
        }
    }
}

// end footer

// start themes

.themes {
    padding: 85px 0 30px;
    background-image: url(../images/content/themes-bg.jpg);
    min-height: 281px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;

    &__title {
        font-size: 26px;
        color: #ffffff;
        margin-bottom: 30px;
    }

    &__form {

        form {
            max-width: 555px;
            width: 100%;
            margin: 0 auto;
            position: relative;
            margin-bottom: 35px;

            input {
                width: 100%;
                height: 55px;
                border-radius: 30px;
                border: none;
                padding-left: 30px;
                padding-right: 130px;
                outline: none;
                font-size: 15px;

                &::placeholder {
                    color: #747b86;
                }
            }

            button {
                position: absolute;
                height: 55px;
                border-radius: 30px;
                border: none;
                right: 0;
                width: 110px;
                background-color: $btn;
                font-size: 15px;
                color: #ffffff;
                outline: none;
                cursor: pointer;
            }
        }
    }

    &__text {
        font-size: 15px;
        color: #ffffff;

        a {
            color: #ffffff;
        }

        span {
            color: #bfcad7;

            a {
                color: #bfcad7;
            }
        }
    }
}

// end themes

// start category

.category__filter {
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.category__filter-row {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__filter-links {

    a {
        color: $text;

        &.active {
            color: $btn;
        }

        & + a {
            margin-left: 28px;
        }
    }
}

.category__filter-form {

    label {
        border: 1px solid #eceff2;
        border-radius: 4px;
        padding: 13px 14px 13px 19px;
        font-size: 14px;
        color: $text;
        width: 220px;

        select {
            background-color: transparent;
            border: none;
            outline: none;
            color: #747b86;
            cursor: pointer;
        }

        & + label {
            margin-left: 30px;
        }
    }
}

.category__filter-btn {
    height: 44px;
    width: 96px;
    border: 1px solid #eceff2;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        font-family: 'Linearicons-Free';
        border: none;
        background-color: transparent;
        font-size: 22px;
        cursor: pointer;
        outline: none;

        &.active {
            color: $btn;
        }

        & + button {
            margin-left: 5px;
        }
    }
}

.category__wrapper {
    background-color: #eff1f5;
}

.category__inner {
    padding: 80px 0 120px;
    display: flex;
    justify-content: space-between;
}

.category__aside {
    max-width: 264px;
    width: 100%;
}

.category__aside-item {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-bottom: 30px;

    &-title {
        font-size: 20px;
        color: #010101;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 1px solid #e7ebee;
        font-weight: 500;
        position: relative;

        &::after {
            content: "\e874";
            position: absolute;
            font-family: 'Linearicons-Free';
            font-size: 12px;
            color: $text;
            font-weight: 500;
            top: 2px;
            right: 0;
        }
    }

    &-list {

        li {
            position: relative;
            padding-left: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &::before {
                position: absolute;
                font-family: 'Linearicons-Free';
                content: "\e876";
                left: 0;
                font-size: 10px;
                top: 50%;
                transform: translateY(-50%);
            }

            a {
                font-size: 15px;
                line-height: 36px;
                color: $text;
    
                &.active {
                    color: $btn;
                }
            }

            span {
                font-size: 15px;
                color: #747b86;
            }
        }
    }
}

.category__aside-item-filter {

    .category__aside-item-list {

        li {

            &::before {
                content: "";
                width: 10px;
                height: 10px;
                border: 1px solid #747b86;
                border-radius: 50%;
            }

            a {
                color: #747b86;
            }
        }
    }
}

.category__aside-item {

    form {
        text-align: center;

        .irs-min, .irs-max {
            display: none;
        }

        .irs--flat .irs-line {
            background-color: #efedf3;
            height: 6px;
        }

        .irs--flat .irs-bar {
            height: 6px;
            background-color: $purple;
        }

        .irs--flat .irs-handle {
            width: 18px;
            height: 18px;
            border: 4px solid $btn;
            border-radius: 50%;
            background-color: #fff;
            cursor: pointer;
        }

        .irs--flat .irs-handle>i:first-child {
            display: none;
        }

        .irs-from, .irs-single, .irs-to {
            top: 45px;
        }

        .irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
            display: none;
        }

        .irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
            color: $purple;
            font-size: 15px;
            line-height: 32px;
            text-shadow: none;
            background-color: #f1ecf9;
            border-radius: 30px;
            padding: 0 15px;
        }

        button {
            margin-top: 55px;
            font-size: 15px;
            font-weight: 500;
            color: #ffffff;
            border: none;
            background-color: $btn;
            padding: 15px 30px;
            border-radius: 30px;
            outline: none;
            cursor: pointer;
        }
    }
}

.category__content {
    max-width: 847px;
    width: 100%;
}

.category__content-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.category__content-item {
    background-color: #fff;
    max-width: 262px;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-bottom: 30px;
    transition: all .5s;

    .rate-star {
        cursor: pointer;
    }

    .category__content-author-likes,
    .category__content-author-comments {
        display: none;
    }

    &.list {
        max-width: 100%;

        .category__content-item-info {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        .category__content-rating {
            flex-direction: column;

            .jq-ry-container {
                margin-top: 7px;
            }
        }

        .category__content-basket {
            margin-top: 74px;
        }

        .category__content-title {
            max-width: 212px;
            width: 100%;

            span {
                display: block;
                font-size: 16px;
                line-height: 30px;
                margin-top: 15px;
                font-weight: 400;
                color: $text;
            }
        }

        .category__content-images {
            float: left;
            min-height: 210px;
            height: 100%;
            max-width: 228px;
            width: 100%;
            margin-right: 18px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .category__content-author-likes,
        .category__content-author-comments {
            display: block;
            font-size: 15px;
            line-height: 30px;
            color: #6f7d8d;
            padding-left: 22px;
            position: relative;

            &::before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                content: "\e813";
                font-family: 'Linearicons-Free';
                color: $purple;
            }
        }

        .category__content-author-comments::before {
            content: "\e83f";
        }

        .category__content-author-likes {
            margin-top: 27px;
            cursor: pointer;
        }
    }
}

.category__content-item-info {
    padding: 20px 20px 15px 20px;
    border-bottom: 1px solid #ececec;
}

.category__content-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;

    span {
        display: none;
    }
}

.category__content-author {
    display: flex;
    margin-bottom: 10px;
}

.category__content-author-img {

    img {
        border-radius: 50%;
    }
}

.category__content-name {
    font-size: 15px;
    line-height: 30px;
    color: #000;
    margin-left: 7px;
}

.category__content-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__content-basket {
    font-size: 15px;
    color: $btn;
    position: relative;
    padding-left: 22px;

    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/icons/cart.png);
        width: 14px;
        height: 14px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.category__content-price {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-dollar {
        font-size: 15px;
        font-weight: 500;
        line-height: 30px;
        color: $btn;
        padding: 0 19px;
        background-color: #e6f1fd;
        border-radius: 40px;
    }

    &-type {
        font-size: 15px;
        color: $purple;
        padding-left: 20px;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background-image: url(../images/icons/wordpress.png);
            width: 16px;
            height: 16px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.pagination__list {
    margin-top: 30px;

    li {
        display: inline-block;
        font-weight: 500;
        color: #747b86;

        & + li {
            margin-left: 5px;
        }

        a {
            padding: 4px 22px;
            background-color: #fff;
            border-radius: 20px;

            &.active {
                background-color: $btn;
                color: #ffffff;
            }
        }

        &:first-child,
        &:last-child {
            font-family: 'Linearicons-Free';

            a.go {
                background-color: $purple;
                color: #ffffff;
            }
        }

        &:first-child {
            margin-right: 20px;
        }

        &:last-child {
            margin-left: 20px;
        }
    }
}
  

  
// end category
  