@import 'vars';
@import 'global';

// start header

.header__top {
    background-color: $bg;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.default__link {
    margin-left: auto;
    margin-right: 50px;
    background-color: $btn;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    padding: 4px 18px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.header__btn {
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
}

.header__btn-login {
    background-color: $green;
}

.header__btn-register {
    background-color: $red;
    margin-left: 7px;
}

.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu__list {

    li {
        display: inline-block;

        & + li {
            margin-left: 34px;
        }
    }

    a {
        font-size: 15px;
        line-height: 42px;
        color: #333333;
        font-weight: 500;
        transition: all .3s;

        &:hover {
            transform: scale(1.2);
        }
    }

}

.header__form {
    position: relative;
    max-width: 360px;
    width: 100%;

    input {
        width: 100%;
        border-radius: 25px;
        outline: none;
        border: 1px solid #d9dfe5;
        height: 46px;
        padding-left: 25px;
        padding-right: 82px;
        font-size: 15px;
        line-height: 30px;

        &::placeholder {
            color: #898f96;
        }
    }

    button {
        position: absolute;
        right: 0;
        border-radius: 25px;
        outline: none;
        height: 46px;
        border: none;
        width: 70px;
        background-color: $btn;
        cursor: pointer;
    }
}

// end header

// start search

.search {
    padding: 170px 0 230px;
    background-color: $blue;
    color: #ffffff;
    text-align: center;

    &__inner {
        position: relative;
    }

    &__suptitle {
        font-size: 60px;
        line-height: 70px;
    }

    &__title {
        font-size: 60px;
        line-height: 70px;
        font-weight: 700;
        margin-bottom: 25px;
    }

    &__text {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 65px;
    }

    &__links {

        a {
            font-size: 16px;
            color: #ffffff;
            padding: 20px 30px;
            border: 1px solid #ffffff;
            border-radius: 40px;

            &:hover {
                background-color: #fff;
                color: $blue;
            }
        }

        a + a {
            margin-left: 30px;
        }
    }

    &__box {
        position: absolute;
        max-width: 1140px;
        width: 100%;
        bottom: -135px;

        &-block {
            height: 135px;
            background-color: #fff;
            opacity: 0.5;
            max-width: 1080px;
            width: 100%;
            border-radius: 6px;
            position: absolute;
            top: 0;
            left: 30px;

            &-second {
                max-width: 1110px;
                width: 100%;
                top: 13px;
                left: 15px;
            }
        }
    }

    &__form {
        top: 26px;
        width: 100%;
        background-color: #fff;
        height: 135px;
        border-radius: 6px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        position: absolute;
        padding: 40px;

        form {
            display: flex;
            justify-content: space-between;
        }

        &-text {
            max-width: 808px;
            width: 100%;
            position: relative;

            input {
                width: 100%;
                outline: none;
                border: 1px solid #dcdcdc;
                height: 55px;
                border-radius: 5px;
                padding-left: 28px;
                padding-right: 195px;

                &::placeholder {
                    color: #676767;
                }
            }

            select {
                position: absolute;
                max-width: 180px;
                width: 100%;
                height: 55px;
                right: 0;
                border: none;
                background-color: transparent;
                outline: none;
                color: #555555;
            }
        }

        button {
            color: #ffffff;
            background-color: $btn;
            border: none;
            border-radius: 5px;
            width: 222px;
            cursor: pointer;
            height: 55px;
        }
    }
}

// end search

// start advantages

.advantages {
    padding: 186px 0 120px;

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        text-align: center;
        max-width: 360px;
        width: 100%;
        padding: 40px 32px;
        border-radius: 4px;

        &:hover {
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }

        &-title {
            font-size: 24px;
            color: #010101;
            margin: 28px 0;
        }

        &-text {
            line-height: 30px;
        }
    }
}

// end advantages
  
// start product-slider

.product-slider,
.folowers-slider {
    padding: 120px 0;
    background-color: $bg;
    position: relative;

    &__item-content {
        display: flex;
        background-color: #fff;
    }

    .slick-arrow {
        font-size: 0;
        border: none;
        background-color: $purple;
        height: 45px;
        width: 55px;
        position: absolute;
        background-image: url(../images/icons/chevron-left.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto;
        z-index: 2;
        border-radius: 35px;
        cursor: pointer;
        outline: none;
        top: -125px;
        right: 30px;
    }

    .slick-next {
        background-image: url(../images/icons/chevron-right.png);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .slick-prev {
        right: 85px;
        padding-right: 30px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.product-slider__images,
.product-mixitup__images,
.folowers-mixitup__images {
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 555px;
    width: 100%;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.product-slider__box,
.product-mixitup__box,
.folowers-mixitup__box{
    max-width: 585px;
    width: 100%;
    padding: 50px 50px 25px;

    &-title {
        font-size: 24px;
        font-weight: 500;
        color: #000;
        margin-bottom: 15px;
    }

    &-subtitle {
        display: flex;
        margin-bottom: 30px;
    }

    &-text {
        margin-bottom: 35px;
    }

    &-links {
        padding-bottom: 45px;
        border-bottom: 1px solid #ececec;
        margin-bottom: 20px;
        
        a {
            background-color: #f1f3f6;
            font-size: 15px;
            color: #868c96;
            border-radius: 15px;
            padding: 0 16px;
            transition: all .3s;
            outline: none;

            & + a {
                margin-left: 7px;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.product-slider__author,
.product-mixitup__author,
.folowers-mixitup__author {
    font-size: 15px;
    line-height: 30px;
    margin-right: 20px;
    display: flex;
    color: #000;

    .avatar {
        width: 30px;
        height: 30px;
        margin-right: 9px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.product-slider__wordpress,
.product-mixitup__wordpress,
.folowers-mixitup__wordpress {
    font-size: 15px;
    line-height: 30px;
    color: $purple;
    padding-left: 25px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/icons/wordpress.png);
        width: 16px;
        height: 16px;
        left: 0;
        top: 7px;
    }
}

.product-slider__box-rating,
.product-mixitup__box-rating,
.folowers-mixitup__box-rating {
    display: flex;

    .rate-star {
        margin-left: auto;
        display: flex;
        align-items: center;
        cursor: pointer;

        &.jq-ry-container {
            padding: 0;
        }
    }
}

.product-slider__price,
.product-mixitup__price,
.folowers-mixitup__price {
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    background-color: $btn;
    border-radius: 15px;
    padding: 1px 18px;
    margin-right: 20px;
}

.product-slider__heart,
.product-mixitup__heart,
.folowers-mixitup__heart {
    font-size: 15px;
    position: relative;
    padding-left: 25px;
    margin-right: 20px;
    cursor: pointer;

    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/icons/heart.png);
        left: 0;
        width: 16px;
        height: 14px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.product-slider__basket,
.product-mixitup__basket,
.folowers-mixitup__basket {
    font-size: 15px;
    color: $btn;
    padding-left: 23px;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/icons/cart.png);
        width: 14px;
        height: 14px;
        left: 0;
        top: 8px;
    }
}

// end product-slider

// start product-mixitup

.product-mixitup {
    padding: 120px 0;
    background-color: #f6f7fb;

    &__title {
        margin-bottom: 30px;
    }
}

.product-mixitup__inner-btn {
    padding: 30px;
    box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 50px;

    button {
        background-color: #f1f3f6;
        font-size: 15px;
        color: #868c96;
        border-radius: 15px;
        padding: 10px 16px;
        transition: all .3s;
        outline: none;
        border: none;
        cursor: pointer;

            & + button {
                margin-left: 10px;
            }

            &:hover {
                background-color: $btn;
                color: #ffffff;
            }
    }
}

.product-mixitup__inner-box {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-mixitup__item,
.folowers-mixitup__item{
    max-width: 360px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;

    &:hover {
        .product-mixitup__images-hover,
        .folowers-mixitup__images-hover {
            display: flex;
            transition: all .5s;
        }
    }
}

.product-mixitup__images,
.folowers-mixitup__images {
    width: 100%;
    min-height: 230px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
}

.product-mixitup__box,
.folowers-mixitup__box {
    padding: 30px 0 15px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &-title {
        padding: 0 30px;
        font-size: 20px;
        font-weight: 500;
    }

    &-subtitle {
        padding: 0 30px;
    }

    &-text {
        padding: 0 30px;
        margin-bottom: 15px;
        padding-bottom: 25px;
        border-bottom: 1px solid #ececec;
    }

    &-rating {
        padding: 0 30px;
    }

    .rate-star {
        margin-left: 0;
    }
}

.product-mixitup__price,
.folowers-mixitup__price {
    color: $btn;
    background-color: #e6f1fd;
}

.product-mixitup__basket,
.folowers-mixitup__basket {
    margin-left: auto;
}

.product-mixitup__images-hover,
.folowers-mixitup__images-hover {
    opacity: 0.902;
    width: 100%;
    min-height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;

    a {
        font-size: 15px;
        font-weight: 500;
        color: #ffffff;
        margin: 0 10px;
        padding: 16px 30px;
        border: 1px solid #ffffff;
        border-radius: 30px;

        &:hover {
            background-color: #fff;
            color: $btn;
        }
    }
}
  
.product-mixitup__bottom-btn {
    text-align: center;

    .default__link {
        border: none;
        padding: 13px 34px;
        border-radius: 30px;
        margin: 0;
        outline: none;
        cursor: pointer;
    }
}

// end product-mixitup

// start folowers-slider

.folowers-slider__inner {

    .slick-arrow {
        background-color: $btn;
    }

    .slick-slide {
        text-align: center;
    }

    .slick-list.draggable {
        margin-left: -15px;
        margin-right: -15px;
    }
}

// end folowers-slider


